---
---

@import "variables";
@import "elements";
@import "layout";


.sponsors-section {
  padding: 3rem 0;

  h2 {
    margin-bottom: 2rem;
  }

  .columns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .column {
    flex: 1;
    text-align: center;
    padding: 1rem;

    .sponsor-logo {
      max-height: 150px;  /* Adjust this value as needed */
      width: auto;  /* Maintain aspect ratio */
      display: block;
      margin: 0 auto 10px; /* Center the logos and add some space at the bottom */
    }
  }
}

.sponsors-section a {
  text-decoration: none; /* Remove the underline */
}

.sponsors-section a:hover {
  cursor: pointer; /* Show pointer when hovering over the image */
}
