---
layout: default
title: Accueil
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Ensemble avec Montréal Python</h1>
				<p class="editable">Montréal Python est une association dédiée à la promotion du langage de programmation Python à Montréal. Depuis 2009, nous avons organisé plus d’une centaine de conférences, attirant des participants de divers secteurs technologiques.</p>
				<!-- <div class="button">
					<a href="#donate">Donate Now</a>
				</div> -->
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/hero.svg" alt="">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Comment agissons nous</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="seminar" %}</div>
			<h3 class="editable">Conférence</h3>
			<p class="editable">Nos conférences mensuelles rassemblent les passionnés de Python de Montréal pour des présentations inspirantes et éducatives sur des sujets variés liés à Python, offrant des opportunités uniques de réseautage et d'apprentissage.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="workshop" %}</div>
			<h3 class="editable">Activité</h3>
			<p class="editable">Nos ateliers pratiques offrent une immersion approfondie dans des thèmes spécifiques de Python, permettant aux participants de développer leurs compétences et de mettre en pratique leurs connaissances dans un environnement collaboratif.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="community" %}</div>
			<h3 class="editable">Communauté</h3>
			<p class="editable">Nous cultivons une communauté dynamique et inclusive de développeurs Python, facilitant les échanges, les collaborations et l'entraide pour promouvoir l'apprentissage continu et l'innovation technologique.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/gallery.png" alt="">
		</div>
		<div>
			<h2 class="editable">Notre Mission</h2>

			<p class="editable">Notre mission est de cultiver une communauté d’enthousiastes de Python à Montréal, de rendre la programmation Python accessible à tous les niveaux et d’intégrer la responsabilité sociale dans toutes nos activités.</p>
		</div>
	</div>
</div>

<div class="container sponsors-section">
	<h2 class="editable" style="text-align: center;">Nos Sponsors</h2>
	<div class="columns">
			<div class="column">
				<a href="https://www.fjnr.ca" target="_blank">
					<img src="{{ site.baseurl }}/images/sponsors/fjnr-logo-blue.png" alt="Sponsor 1" class="sponsor-logo">
				</a>
				<p class="editable">FJNR</p>
			</div>
			<div class="column">
				<a href="https://savoirfairelinux.com/en" target="_blank">
					<img src="{{ site.baseurl }}/images/sponsors/logo-sfl.png" alt="Sponsor 2" class="sponsor-logo">
				</a>
				<p class="editable">Savoir Faire Linux</p>
			</div>
			<div class="column">
				<a href="https://www.nad.ca/" target="_blank">
					<img src="{{ site.baseurl }}/images/sponsors/NAD_logo.png" alt="Sponsor 3" class="sponsor-logo">
				</a>
				<p class="editable">NAD UQAC</p>
			</div>
	</div>
</div>

<!-- 
todo: add quote section
<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div> -->

<!-- 
todo: add newsletter section
<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our fight for the sheep vote.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div> -->

<!-- 
todo: add donation section
<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div> -->

<!-- 
todo: Add blog section
<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div> -->
